<div class="main-wrapper">

  <!-- header -->
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="d-inline-block">
          <img class="mt-1 mr-1 cursor-pointer outline-none"
               alt="Epic Video Comparator by Epic Labs"
               src="assets/img/epic-labs-logo-145x55.png"
               routerLink="/">
               <button mat-button routerLink="/comparator">Comparator</button>
               <button mat-button routerLink="/examples">Code examples</button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <!-- ./header -->

  <!-- main content -->
  <section>
    <div class="content" [@routerTransition]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>
  </section>
  <!-- ./main content -->

  <!-- footer -->
  <footer>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <a *ngFor="let network of socialNetworks" [href]="network.url" target="_blank" class="mr-1">
          <i [class]="network.faIcon" aria-hidden="true"></i>
          <span class="d-none d-sm-inline"> {{network.title}}</span>
        </a>
        <span class="spacer"></span>
        <span class="copyright"><i class="fa fa-copyright"></i> Epic Labs {{year}}</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
  <!-- ./footer -->

</div>
