<div class="comparator-component-wrapper">
  <h1>Insert your video URLs</h1>
  <mat-card class="comparator-card mt-2">
    <mat-card-content>
      <form [formGroup]="urlsForm">
        <mat-form-field class="w-100">
          <input matInput placeholder="Left video URL" formControlName="leftUrl">
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput placeholder="Right video URL" formControlName="rightUrl">
        </mat-form-field>

        <button mat-raised-button (click)="reloadComparator()" [disabled]="!urlsForm.get('leftUrl').value || !urlsForm.get('rightUrl').value">Load</button>
        <button mat-raised-button class="ml-2" (click)="shareLink()" [disabled]="!urlsForm.get('leftUrl').value || !urlsForm.get('rightUrl').value">Share link</button>
        <input type="text" id="cb" length="0">
      </form>
    </mat-card-content>
  </mat-card>

  <h1>Compare both videos</h1>
  <mat-card class="comparator-card mt-2">
    <mat-card-content>
      <div id="comparator-container"></div>
    </mat-card-content>
  </mat-card>

  <h1>Use it in your projects!</h1>
  <iframe id="star-button"
          src="//ghbtns.com/github-btn.html?user=epiclabs-io&repo=epic-video-comparator&type=watch&count=true&size=large"
          height="30" width="150">
  </iframe>
  <iframe id="fork-button"
          src="//ghbtns.com/github-btn.html?user=epiclabs-io&repo=epic-video-comparator&type=fork&count=true&size=large"
          height="30" width="150" >
  </iframe>
  <br><br>
  <a href="https://www.npmjs.com/package/@epiclabs/epic-video-comparator" target="_blank" class="mt-2">
    <img src="https://img.shields.io/npm/v/@epiclabs/epic-video-comparator.svg?style=flat">
  </a>
  <a href="https://travis-ci.org/epiclabs-io/epic-video-comparator" target="_blank">
    <img src="https://api.travis-ci.org/epiclabs-io/epic-video-comparator.svg?branch=dev" class="ml-2">
  </a>
</div>