.comparator-component-wrapper {
  width: 700px;
  margin: 0 auto;

  h1 {
    margin-top: 2em;
    margin-bottom: 1em;

    &:before {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 250'><path style='fill:%23ffd100' d='m 113.15986,245.59595 c -16.900001,-4.2 -31.900001,-8.4 -50.200001,-14.3 l -1.4,-0.5 1.9,-3.8 c 21.6,-41.4 33.4,-60 54.400001,-99.9 -17.4,-35.2 -42.100001,-73.3 -56.700001,-105.8 l -0.4,-1.3 1.4,-0.5 c 7.9,-2.9 53.500001,-15.7 56.100001,-15.7 0.2,0 0.5,0.3 0.8,0.7 18.6,31.6 36.8,62.7 51.8,88.2 18.3,31.2 18.7,31.8 18.3,32.5 -40.3,71.2 -23.2,41.8 -68.9,120.8 -0.6,0.4 -4.2,0.2 -7.1,-0.4 z' /></svg>");
      width: 24px;
      height: 24px;
      display: inline-block;
      position: relative;
      top: 3px;
      margin-right: .25em;
      content: '';
    }
  }

  iframe {
    border: 0;
  }
}
